@charset "UTF-8";

@font-face {
    font-family: "comic";
    src: url(ComicNeueSansID.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0px;
    margin: 0%;
}
body{
    font-family: "comic";
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-variant: small-caps;
    padding-top: 50px;
}
header > p{
    padding-bottom: 50px;
}
header > p > a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    font-size: medium;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    color: white;
    background-color: rgb(56, 56, 56);
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.226);
    width: 400px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}